body {
  margin: 0;
}
h1 {
  border-bottom: 1px solid gray;
  font-size: 50px;
  margin: 0;
  padding: 20px;
  text-align: center;
}
ol {
  border-right: 1px solid gray;
  margin: 0;
  padding: 20px;
  width: 200px;
}
a {
  color: orange;
}
#grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#grid ol {
  padding-left: 35px;
}
#grid #article {
  padding-left: 25px;
}
@media(max-width: 800px) {
  h1 {
    border-bottom: none;
  }
  ol {
    border-right: none;
  }
  #grid {
    display: block;
  }
}
